rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  //FOR TESTING PURPOSES ONLY
    // match /{document=**} {
    //   allow read, write; 
    // }
		match /content/{cid} {
    	allow read: if request.auth != null;
      allow write: if request.resource.data.type == "track" ||
      		request.resource.data.type == "album" ||
          request.resource.data.type == "artist" ||
          request.resource.data.type == "playlist";
    }
  	match /reviews/{rid} {
    	allow read: if request.auth != null;
      allow create: if request.resource.data.rating is number 
      	&& request.resource.data.rating >= 0
        && request.resource.data.rating <= 10
        && request.resource.data.author == request.auth.token.email
        && (request.resource.data.type == "track" ||
      		request.resource.data.type == "album" ||
          request.resource.data.type == "artist" ||
          request.resource.data.type == "playlist");
      allow update;
    }
    match /users/{uid} {
    	allow read: if request.auth != null;
      allow update, delete;
      allow create;
    }
  }
}